<ion-header>
  <ion-navbar>
    <ion-title>
      Control Panel
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list inset class="shadow fitted" no-lines>
    <ion-item>Username: {{ username }} </ion-item>
  </ion-list>

  <ion-list class="shadow fitted" no-lines>

    <ion-list-header>
      Connections
    </ion-list-header>

    <ion-item>
      <ion-icon name='cloud'  item-left></ion-icon>
      <ion-label> Server connection </ion-label>
      <ion-icon *ngIf="isServerConnected" name='checkmark-circle' color="secondary" item-right></ion-icon>
      <ion-icon *ngIf="!isServerConnected" name='close-circle' color="danger" item-right></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='radio' item-left></ion-icon>
      <ion-label > Data connection </ion-label>
      <ion-icon *ngIf="isDataConnected" name='checkmark-circle' color="secondary" item-right></ion-icon>
      <ion-icon *ngIf="!isDataConnected" name='close-circle' color="danger" item-right></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name='videocam' item-left></ion-icon>
      <ion-label> Media connection </ion-label>
      <ion-icon *ngIf="isMediaConnected" name='checkmark-circle' color="secondary" item-right></ion-icon>
      <ion-icon *ngIf="!isMediaConnected" name='close-circle' color="danger" item-right></ion-icon>
    </ion-item>


    <ion-list-header>
      Capabilities
    </ion-list-header>

    <ion-item>
      <ion-icon item-left name='bluetooth' color="primary" ></ion-icon>
      <ion-label color="primary" >Bluetooth device</ion-label>
      <ion-badge item-right *ngIf="!isBtConnected" (click)='openBluetoothPage()' color="primary"> {{ btBadgeText }} </ion-badge>
      <ion-badge item-right *ngIf="isBtConnected" (click)='disconectBt()' color="danger"> {{ btBadgeText }} </ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon name='compass' color="custom-cyan" item-left></ion-icon>
      <ion-label color="custom-cyan" >Sensors</ion-label>
      <ion-toggle [(ngModel)]="sensorsToggleState" (ionChange)="onSensorsToggled()" color="custom-cyan" item-right ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name='navigate' color="custom-purple" item-left></ion-icon>
      <ion-label color="custom-purple" >Location</ion-label>
      <ion-toggle [(ngModel)]="locationToggleState" (ionChange)="onLocationToggled()" color="custom-purple" item-right ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon item-left name='battery-full' color="secondary" ></ion-icon>
      <ion-label color="secondary" >Battery</ion-label>
      <ion-toggle [(ngModel)]="batteryToggleState" (ionChange)="onBatteryToggled()" color="primary" item-right ></ion-toggle>
    </ion-item>

  </ion-list>

  <video appVideo autoplay class="custom-video" [class.hide]="!isMediaConnected" src="" ></video>

</ion-content>
