login-page{

  ion-title{
    text-align: center;
  }

  ion-input{
    color: white;
    border-bottom: 1px solid #006868;
  }

  .custom-label{
    color: #b1b1b1;
  }

  p{
    color:white;
  }

  form{
    box-shadow: 0px 0px 20px rgba(0, 237, 255, 0.34);
    padding: 10px;
    max-width: 400px;
    margin: auto;
    min-width: 200px;
  }

  .input-valid{
    border-bottom: 1px solid #38862f;
  }

  .input-invalid{
    border-bottom: 1px solid #9f431c;
  }

  .input-default{
    border-bottom: 1px solid #006868;
  }

}

